@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,500&display=swap');

/* así se comenta en CSS */

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

@keyframes choriflais {
	0%{background:blue;}
	100%{background:red;}
}

body{
	animation-name: choriflais;
	animation-duration: 2s;
	animation-iteration-count: 10;
	padding:2rem;
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
}

strong{
font-weight: 500;	
}